.header {
  display: flex;
  margin: 32px;
}

.header h3 {
  flex: 1;
  font-size: 40px;
  margin: 0;
}

.header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.header ul li {
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
}
